.main {
    margin: 5em 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form {
    overflow: hidden;
    padding-left: 5em;
  }
input {
    float: left;
    clear: both;
  }
  
select {
    float: left;
    clear: both;
}

button {
    float: left;
    clear: both;
}

.dropDown {
    padding: 2em 0 ;
}
.accNum {
    padding-bottom: 2em  ;
}


button {
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }

button:hover {
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.copyButton:hover {
    color: blue;
    cursor: pointer;
    font-size: larger;
}